# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directory
venv/

# Ignore environment variables
.env

# Ignore other files or directories as needed
*.log
*.sqlite3
Lib/